.container {
  position: relative;
  display: flex;
  flex-direction: column;
  .fieldValidate{
    position: absolute;
    font-size: 30px;
    color: orange;
    top:20px;
  }
  .select{
    border-radius: 50px;
    height: 40px;
  }
  .input {
    padding: 50px;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
  }

  .input::placeholder {
    color: #b3b3b1;
  }

  .select {
    margin-bottom: 50px;
    padding: 10px 20px;
    margin-left: 50px;
    width: max-content;
  }

  .editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;

    .plusButton {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid gray;
      cursor: pointer;
      padding: 5px;
    }

    .add {
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: var(--bg);
      position: absolute;
      z-index: 999;
      width: 100%;
      left: 50px;
    

      .addIconButtonGroud {
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        .addButton{
          font-size: 25px;
          cursor: pointer;
        }
        .progress{
       
          font-size: 15px;
          color: orange;
       
      
        }
      }


    }
    .quil{
      width: 100vh;
      
      margin-top: 50px;
    }

  }
  .publish {
    position: absolute;
    left: 80vh;
    width:max-content;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(155, 155, 247, 0.916);
    color: white;
    font-weight: 700;
    cursor: pointer;
  }
}


@media screen and (max-width: 650px){
  .container{
    height: 100vh;
  }
  .container .input{
    font-size: 30px;
  }
  .container .publish{
    top: 60px;
    right: 0px;
    padding: 5px;
    font-size: 10px;
  }
  .container .select{
    padding: 5px;
  }
  .container .editor .plusButton{
    padding: 0;
    width: 50px;
    border: none;
  }
  .container .editor .quil{
    width:100vh;
    height: 50%;
  }
}