.container{
    display: flex;
    margin-top: 60px;
    padding-bottom: 20px;
    border-top: 2px solid crimson;
    .info{
        margin-top: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .logo{
            display: flex;
            gap:10px;
            align-items: center;
            p{
                text-align: justify;
            }
        }
        .social{
            display: flex;
            gap: 10px;
            font-size: 20px;
            cursor: pointer;
        }
       
       
    }
   .links{
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content:space-evenly;
    gap: 15px;
    .pages{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .linkTitle{
            font-size: 18px;
            cursor: pointer;
            Link{
                color: gray;
            }
        }
    }
   }
}

@media screen and (max-width: 850px){
    .container{
        flex-direction: column;
        gap: 20px;
    }
   
   
}