.container{
    margin-top: 50px;
    .title{
        margin-bottom: 30px;
    }
    .write{
        display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  .input{
    padding: 20px;
    width: 100%;
    background-color: transparent;
    color: gray;
  }
  .button{
    cursor: pointer;
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
  }
    }
    .comments{
        margin-top: 50px;
        .comment{
            margin-bottom: 50px;
            .user{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 20px;
                .image{
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userInfo{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .username{
                        font-weight: 500;
                    }
                    .date{
                        font-size: 14px;
                      }
                      
                     
                }
                .desc{
                    font-size: 18px;
                    font-weight: 300;
                  }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .container .title{
        font-size: 20px;
    }
    .container .write .input{
        padding: 5px;
    }
    
}