.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    border-radius: 50px;
    border: 2px solid gray;
    width: 40px;
    height: 20px;
    cursor: pointer;
    .icon{
        color:yellowgreen;
        font-size: 10px;
       
    }
    .switch{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(109, 109, 109);
        position: absolute;
        top: 0;
    }
}